@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria:#F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalhoMenu {
    display: flex;
    gap: 80px;
}

.cabecalhoMenuLink {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400px;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destaqueTitulo {
    color: var(--cor-tercearia)
}

.apresentacaoConteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacaoConteudoTitulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacaoConteudoTexto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacaoLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacaoLinksSuptitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400px;
    font-size: 24px;
}

.apresentacaoBotao1 {
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-tercearia);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacaoBotao1:hover {
    background-color: var(--cor-hover);
}

.icone {
    width: 30px;
    height: 30px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400px;
}

